html,body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
}

a{
    text-decoration: none;
    color:  #f1c40f;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

    /* NAV */

.nav{
    background-color: rgba(43, 61, 79, 0.85);
    position:fixed;
    width: 100%;
    

}
.nav__links{
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;

}
.nav__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    height: 50px;
    min-width: 150px;
}
.nav__link:hover{
    background-color: #34495e;
}
.nav__link:active{
    background-color: #394d60;

}
/* .nav__link--active{ 
    background-color: #394d60;
}*/

/* END NAV */


/* HERO */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__info{
    text-align: center;
    color: #ecf0f1;
}

.cta-button{
    min-width: 150px;
    background-color: #f1c40f;
    color: #ecf0f1;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    padding: 6px 0px;
    border-color: 1px #bdc3c7;

    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;

    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
    
}
.cta-button:hover{
    background-color: #dab830;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
}
/* END HERO */

/* FEATURES */

.features{
    display: flex;
    padding-top: 2rem;

}
.feature{
    flex-basis: 33.3333%;
    padding: 1.5rem;
    text-align: center;
}
.feature__icon{
    font-size: 3rem;
}

/* END FEATURES */


/* ABOUT */
.about{
    background-color: #f1c40f;
    padding: 2rem 0;
    color:#ecf0f1;
}

.about__container{
    display: flex;
}

.about__text, .about__image{
    flex-basis: 50%;
    padding: 0 2rem;
}   

.about__header{
    margin-top: 0px;
}
.about__image-container{
    width: 100%;
    height: 250px;
    background-image: url(../images/team.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* END ABOUT */

/* TESTIMONIALS */

.testimonials{
    padding-top: 2rem;
    display: flex;
}

.testimonial-arrow{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}

.testimonial{
    text-align: center;
    flex-basis: 80%;
}
.testimonial__text{

}
.testimonial_rule{
    margin: 2rem auto;
    width: 30%;
    min-width: 200px;
}
.testimonial__avatar{
    border-radius: 50%;
    width: 70px;
    width: 70px;

}
.testimonial__name{

}
/* END TESTIMONIALS */

/* CONTACT */

.contact{
    background-color: #34495e;
    color: #ecf0f1;
    padding-top: 2rem;
}

.contact__container{
    display: flex;
}

.contact__header{
    margin-top: 0;;
}
.contact__rule{
    width: 20%;
    min-width: 100px;
    margin:0;
}

.contact__text, .contact__form{
    flex-basis: 50%;
    padding: 0 2rem;
}   
.contact__address-icon{
    width:1rem;
    margin-right: 0.5rem;
}
.contact-form__input{
    min-height: 1.5rem;
    border-radius: 2px;
    border: 0.5px solid #ecf0f1;
    margin: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;  
    color: #ecf0f1;
    margin-left: 0;
}

.contact-form__input--transparent{
    background-color: transparent;
}
        

.contact-form__submit {
    min-width: 100px;
    border: none;
    background-color: #d4ae3b;
    padding: 0.5rem;
    border-radius: 4px;
    color: #ecf0f1;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.contact-form__submit:hover {
    background-color: #efc10b;
}

.contact-form__input--fullwidth{
    width:100%;
}

::placeholder{
    color: rgba(236, 240, 241, 0.685);
}




/* END CONTACT */







/* FOOTER */
.footer{
    display: flex;
    background-color: #2c3e50;
    justify-content: space-around;
    align-items:center;
    color: #ecf0f1;
    padding: 1.5rem;
}
.footer__header{
    
}
.cta-button--big{
    min-width: 150px;
    padding: 0.5rem;
    font-size: 1.5rem;
}
/* END FOOTER */
/*COPYRIGHT */

.copyright{
    color:#ecf0f1;
    background-color: #29343f;
    text-align: center;
}


/* END COPYRIGHT */